.bd {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin-top: 0;
  padding-top: 113px;
  padding-bottom: 108px;
  background: #000000;
  text-align: center;
}
.title {
  margin-top: 0;
  font-size: 40px;
  line-height: 42px;
  color: #ffffff;
  margin-bottom: 15px;
}
.subtitle {
  margin-top: 0;
  margin-bottom: 21px;
  font-size: 24px;
  line-height: 30px;
  color: #c0c0c0;
}
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  line-height: 20px;
  letter-spacing: 0.4px;
  padding: 12px 10px;
}
.img {
  padding-right: 10px;
}
.title: last-child,
  .subtitle: last-child,
  .btn: last-child {
  margin-bottom: 0;
}
