*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.bd {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  background: #000000;
  margin-top: 0;
  text-align: left;
}
.container {
  margin-top: 0;
  padding-top: 113px;
  padding-bottom: 108px;
  background: #000000;
  text-align: center;
}
.content {
  padding-top: 173px;
  padding-bottom: 153px;

  padding-left: 100px;
}

.gear {
  margin-top: 0;
  font-size: 14px;
  line-height: 1.4;
  color: #c0c0c0;
  margin-bottom: 6px;
}
.tools {
  margin-top: 0;
  margin-bottom: 14px;
  font-size: 28px;
  line-height: 1.1;
  color: #ffffff;
}
.text {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.4;
  color: #ffffff;
  max-width: 514px;
}
.bt {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  line-height: 1.2;
  letter-spacing: 0.4px;
  padding: 12px 10px;
}
.title {
  margin-top: 0;
  font-size: 40px;
  line-height: 1.1;
  color: #ffffff;
  margin-bottom: 15px;
}
.subtitle {
  margin-top: 0;
  margin-bottom: 21px;
  font-size: 24px;
  line-height: 1.2;
  color: #c0c0c0;
}
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  line-height: 1.2;
  letter-spacing: 0.4px;
  padding: 12px 10px;
}
.img {
  margin-right: 6px;
}
.photo {
  width: 50%;
}
.image1 {
  position: absolute;
  right: 290px;
  top: 484px;
}
.image2 {
  position: absolute;
  right: 229px;
  top: 484px;
}
.image3 {
  position: absolute;
  right: 147px;
  top: 484px;
}
.image4 {
  position: absolute;
  right: 94px;
  top: 484px;
}
.text1 {
  position: absolute;
  right: 261px;
  top: 483px;
}
.text2 {
  position: absolute;
  right: 195px;
  top: 483px;
}
.text3 {
  position: absolute;
  right: 120px;
  top: 483px;
}
.text4 {
  position: absolute;
  right: 40px;
  top: 4843px;
}
.bt :last-child,
.gear :last-child,
.text:last-child,
.tools:last-child,
.title:last-child,
.subtitle:last-child,
.btn:last-child {
  margin-bottom: 0;
}
/*mobile*/
.container {
  padding-top: 48px;
  padding-bottom: 48px;
}
.title {
  font-size: 24px;
}
.subtitle {
  font-size: 16px;
}
.btn {
  font-size: 12px;
}
.img {
  display: none;
}
.content {
  text-align: center;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 20px;
}
.gear {
  font-size: 10px;
}
.tools {
  font-size: 16px;
}
.text {
  font-size: 12px;
}
.im {
  width: 100%;
  height: 300px;
}

@media (min-width: 768px) {
  .container {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .title {
    font-size: 32px;
  }
  .subtitle {
    font-size: 20px;
  }
  .btn {
    font-size: 16px;
  }
  .img {
    display: block;
  }

  .content {
    text-align: left;
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 100px;
  }
  .gear {
    font-size: 14px;
  }
  .tools {
    font-size: 24px;
  }
  .text {
    font-size: 14px;
  }
  .im {
    height: 100%;
    width: 100%;
  }
}
@media (min-width: 1020px) {
  .container {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .title {
    font-size: 40px;
  }
  .subtitle {
    font-size: 24px;
  }
  .btn {
    font-size: 16px;
  }
  .content {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 100px;
  }
  .gear {
    font-size: 14px;
  }
  .tools {
    font-size: 28px;
  }
  .text {
    font-size: 14px;
  }
}
