.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
    color: white;
    background-color: #FF6347;
    border-radius: 10px;
    font-weight: 800;
    border: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    padding: 22px 42px;
}